<div class="container" style="background-color: rgba(255, 87, 0, 0.93); color:  white;">
  <div class="col-md-8" style="padding: 30px;">
    <h3>Welcome to</h3>
    <h1>Thien's restaurant</h1>
    <div class="btn-group btn-group" role="group" aria-label="buttons groups">
      <a class="btn btn-secondary" href="/menus" >Menu</a>
      <a class="btn btn-secondary" href="/food_items" >Food items</a>
      <a class="btn btn-secondary" href="/contacts/index">Contact us</a>
    </div>
  </div>
  <div class="col-md-4" style="padding: 30px;">
    <img src="http://ilovenewton.com/wp-content/uploads/2012/07/photo-15-300x224.jpeg" />
  </div>
</div>
