<footer class="navbar navbar-light bg-faded">
  <div class="container" align="middle">
    <p class="text-muted">Designed and built with all the love in the world by @thienleminh1982 :-)
      <br/>
      <a class="nav-link" href="https://github.com/thienleminh1982">thienleminh1982 on GitHub</a>
    </p>
  </div>
</footer>